VONAGE_API_KEY=
VONAGE_API_SECRET=
VONAGE_APPLICATION_ID=
VONAGE_PRIVATE_KEY=
KV_REST_API_URL=
KV_REST_API_TOKEN=
AUTH_SECRET=
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
ADMIN_EMAILS=
NEXT_PUBLIC_APP_NAME=Vonage WhatsApp Template Manager
